<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Equipment</title>
    <style>
        .two-column-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    </style>
</head>
<body>
<div th:if="${message != null}" th:text="${message}" style="color: red"></div>
<form th:action="@{/equipment/save}" method="post" th:object="${equipment}">
    <fieldset class="two-column-grid">
        <label for="id">id</label>
        <input id="id" type="text" th:field="*{id}" readonly>
        <label for="userId">userId</label>
        <input id="userId" type="text" th:field="*{userId}" readonly>
        <label for="itemId">itemId</label>
        <input id="itemId" type="text" th:field="*{itemId}" readonly>
        <label for="location">location</label>
        <input id="location" type="text" th:field="*{location}">
        <label for="version">version</label>
        <input id="version" th:field="*{version}"></input>
    </fieldset>
    <input type="submit" value="Submit"/>
</form>
</body>
</html>